/* Paleta de Colores */
:root {
    --rojo-principal: #dc3545;
    --rojo-secundario: #dc3545; /* Mantenido para hover si es necesario */
    --blanco: #ffffff;
    --gris-claro: #f8f8f8;
    --gris-oscuro: #333;
}

/* Colores y fuente de fondo */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: var(--rojo-principal);
    color: var(--blanco);
    text-align: center;
    padding: 15px 0;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Navbar */
.navbar {
    background-color: var(--rojo-principal);
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-size: 1.75rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: var(--blanco);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: var(--rojo-secundario);
}

/* Botón principal */
.btn-danger {
    background-color: var(--rojo-secundario);
    border-color: var(--rojo-secundario);
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: var(--rojo-principal);
    border-color: var(--rojo-principal);
}

/* Footer */
footer {
    background-color: var(--rojo-principal);
    color: var(--blanco);
    padding: 15px 0;
    font-size: 0.9rem;
    text-align: center;
}

footer p {
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Carousel Images */
.carousel-inner .item img {
    width: 100%;
    height: 500px; /* Define la altura deseada */
    object-fit: cover; /* Ajusta para llenar el espacio */
    object-position: center; /* Centra la imagen dentro del marco */
}
